@charset "UTF-8";
html {
  font-size: 62.5%;
}

/*sassにおけるrem指定*/
body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

img.svg {
  width: 100%;
  vertical-align: bottom;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.container {
  width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

h2 {
  font-size: 32pxpx;
  font-size: 3.2pxrem;
  font-weight: bold;
  color: #333333;
}

.bg--gray {
  background-color: #F0F0F0;
}

.black {
  background-color: #333333 !important;
}

.font-black {
  color: #333333 !important;
}

.more-btn {
  width: 160px;
  display: block;
  text-align: center;
  background-color: #000000;
  line-height: 36px;
}

.more-btn a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

header h1 {
  position: fixed;
  top: 31px;
  left: 4vw;
  z-index: 2;
  width: 260px;
}

header .burger-btn {
  display: flex;
  position: fixed;
  align-items: center;
  top: 36px;
  right: 4vw;
  z-index: 3;
}

/*ハンバーガーボタン*/
.bar {
  display: block;
  background-color: #FFFFFF;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.menu {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  margin-left: 7px;
}

.bar--top {
  transform: translateY(-4px);
  transition: .4s;
}

.bar--bottom {
  transform: translateY(4px);
  transition: .4s;
}

/*ハンバーガーボタンを押した時の付加クラス*/
/*translateが2px指定なのは、おそらくbarのheightが2pxな為*/
.close .bar--top {
  transform: translateY(2px) rotate(-210deg);
}

.close .bar--mid {
  opacity: 0;
}

.close .bar--bottom {
  transform: translateY(-2px) rotate(210deg);
}

/*背景が暗くなる記述*/
/*display:none;とfadeToggleの使い方*/
.burger-musk {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

nav {
  display: block;
  width: 36.1vw;
  height: 100vh;
  background-color: #222222;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.9;
  text-align: center;
  transform: translateX(100%);
  transition: 0.3s;
}

nav .nav-list {
  display: inline-block;
  width: 120px;
  margin: 180px auto;
  /*要確認*/
}

nav .nav-list__image {
  width: 42.15px;
  margin: 0 auto 20px;
}

nav .nav-list__item {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.slide-in {
  transform: translateX(0);
  transition: 0.3s;
}

.nonscroll {
  overflow: hidden;
}

.fv {
  height: 100vh;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #222222;
  z-index: -1;
}

.fv--inner {
  height: 86.5%;
  width: 76.4%;
  background-image: url(../img/kv-img.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.maincopy {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.maincopy--small__ja {
  margin-bottom: 8px;
  color: #FFFFFF;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

.maincopy--small__en {
  color: #FFFFFF;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
}

.maincopy--big {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 72px;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.063;
}

.about--wrapper {
  background-image: url(../img/about-img.jpg);
  background-position: center;
  background-size: cover;
  padding: 110px 50px;
  margin-top: 120px;
}

.about {
  position: relative;
}

.about::after {
  content: "";
  display: block;
  background-color: #F0F0F0;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  z-index: -1;
}

.about--content {
  background-color: #FFFFFF;
  padding: 50px 30px;
  max-width: 590px;
  opacity: 0.95;
}

.about--text {
  margin: 30px 0;
}

.about--text p {
  color: #333333;
  line-height: 2;
  letter-spacing: 0.1em;
}

.l--section--wrapper .container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}

.work--img, .culture--img {
  margin: 30px 0;
  max-width: 520px;
}

.work--text, .culture--text {
  margin-bottom: 30px;
}

.culture {
  margin-left: 3%;
}

.topics {
  padding: 60px 0;
}

.topics--list {
  margin-bottom: 30px;
  max-width: 700px;
}

.topics--list li {
  padding-bottom: 12px;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 32px;
}

.topics--list time {
  color: #CECECE;
  font-size: 10px;
  font-size: 1rem;
}

.topics--list h3 {
  margin-top: 13px;
  color: #333333;
  font-size: 14px;
  font-size: 1.4rem;
}

.topics--list .more-btn {
  margin-top: 30px;
}

.ml--auto {
  margin-left: auto;
}

.contact {
  padding: 60px 0 120px;
}

.contact .container {
  display: flex;
}

.contact--content {
  width: 440px;
  height: 100%;
  padding: 72px 0 71px;
  text-align: left;
  margin-right: 7%;
}

.contact--content p {
  color: #333333;
  line-height: 2;
  margin: 30px 0;
}

.contact--img {
  width: 580px;
  height: 100%;
}

footer {
  background-color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer small {
  font-size: 10px;
  font-size: 1rem;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
    padding: 0 10px;
    margin: 0 auto;
  }
  header h1 {
    position: fixed;
    top: 33.8px;
    width: 189px;
  }
  header .burger--btn {
    top: 37px;
  }
  .fv::after {
    width: 66.9%;
  }
  .maincopy {
    top: 27%;
    right: 0;
    transform: translate(36%, 0);
  }
  .maincopy--small__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .maincopy--small__en {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .maincopy--big {
    font-size: 56px;
    font-size: 5.6rem;
    letter-spacing: 0.063em;
  }
  .about .container {
    width: 100vw;
    padding: 0;
  }
  .l--section--wrapper {
    padding: 60px 0 40px;
  }
  .l--section--wrapper .container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
  .work {
    margin-bottom: 80px;
  }
  .culture {
    /*work要素との余白が必要なくなったため*/
    margin-left: 0;
  }
  .ml--auto {
    margin-left: 0;
  }
  .topics--list {
    max-width: 700px;
  }
  .contact {
    padding: 40px 0 80px;
  }
  .contact .container {
    flex-direction: column-reverse;
  }
  .contact--content {
    padding: 30px 0 0;
    max-width: 510px;
  }
  .contact--img {
    width: 520px;
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .container {
    width: 345px;
    padding: 0 5px;
    margin: 0 auto;
  }
  .fv::after {
    width: 75%;
  }
  .maincopy {
    top: 33%;
    right: 0;
    transform: translate(28%, 0);
  }
  .about .container {
    padding: 0;
  }
  .about--wrapper {
    padding: 50px 4%;
  }
  .topics--list h3 {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .topics--list h3:first-of-type {
    letter-spacing: 0.068em;
  }
  .contact--img {
    width: 345px;
  }
  .contact--content {
    width: 345px;
  }
}
